<div class="about">

  <div class="row align-center align-middle">
    <div class="column text-justify">
      <h2 class="text-center">Lorem</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima commodi quasi possimus laboriosam expedita excepturi maxime, cupiditate repellendus veritatis, quia quod pariatur, iste ea soluta hic libero optio eos ullam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima commodi quasi possimus laboriosam expedita excepturi maxime, cupiditate repellendus veritatis, quia quod pariatur, iste ea soluta hic libero optio eos ullam.</p>
    </div>
    <div class="column text-center">
      <img src="http://placehold.it/400x300">
    </div>
  </div>

</div>
