<div class="services" *ngIf="services">
  <h1 class="text-center">Nossos serviços</h1>

  <div class="container">

    <div class="row small-up-1 medium-up-2" *ngFor="let services_categories of services">
      <div class="column service"
        *ngFor="let service of services_categories.items"
        routerLink="/services">

        <div class="row align-middle text-center">
          <div class="column small-2 icon">
            <md-icon *ngIf="service.icon">{{ service.icon }}</md-icon>
            <i aria-hidden="true" *ngIf="service.fa_icon" class="fa fa-{{ service.fa_icon }}"></i>
          </div>
          <div class="column content">
            <h4>{{ service.title }}</h4>
            <div class="heading"
              *ngIf="service.heading"
              [innerHTML]="service.heading"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>